{% extends "core/base.html" %}
{% block title %}Painel{% endblock %}

{% block content %}

<section class="cards">
  <div class="card">
    <h4>Funcionários ativos</h4>
    <div class="metric">{{ cont_funcionarios }}</div>
  </div>
  <div class="card">
    <h4>Contas a Pagar</h4>
    <div class="metric">{{ pagar_total|floatformat:2 }}</div>
  </div>
  <div class="card">
    <h4>Contas a Receber</h4>
    <div class="metric">{{ receber_total|floatformat:2 }}</div>
  </div>
</section>
<br>
<section class="panel">
  <h3>Contas deste mês</h3>

  <div class="table-container">
    <table class="responsive-table">
      <colgroup>
        <col style="width: 45%">
        <col style="width: 20%">
        <col style="width: 20%">
        <col style="width: 15%">
      </colgroup>

      <thead>
        <tr>
          <th>Descrição</th>
          <th>Valor</th>
          <th>Venc.</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        {% for p in pagar_preview %}
        <tr>
          <td>{{ p.desc }}</td>
          <td>{{ p.value }}</td>
          <td>{{ p.due }}</td>
          <td>{{ p.status|capfirst }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" class="empty-row">Nenhuma conta</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock %}
