{% extends "core/base.html" %}
{% block title %}Contas a Pagar{% endblock %}

{% block content %}
<section class="panel">
    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Tipo</th> 
                <th>Valor Original</th>
                <th>Vencimento</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for it in list %}
            <tr>
                <td>{{ it.descricao }}</td>
                
                <td>
                    <span>{{ it.get_model_name }}</span>
                </td>
                
                <td style="text-align:left">
                    {% if it.get_valor_consolidado %}
                        R$ {{ it.get_valor_consolidado|floatformat:2 }}
                    {% else %}
                        R$ 0.00
                    {% endif %}
                </td>
                
                <td>
                    {% if it.get_data_consolidada %}
                        {{ it.get_data_consolidada|date:"d/m/Y" }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                
                <td>
                    {% if it.status %}
                        <span class="-{{ it.status }}">{{ it.get_status_display|capfirst }}</span>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                
                <td class="row-actions">
                    <a class="btn btn-sm btn-accent" href="{% url 'pagar:pagar_edit' it.pk %}">Editar</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'pagar:pagar_delete' it.pk %}">Excluir</a>
            </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Nenhuma conta encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="totals">
        Total Agregado: <strong>R$ {{ total|floatformat:2 }}</strong>
    </div>
</section>
{% endblock %}