{% extends "core/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="form-wrapper">
  <h1>{{ title }}</h1>

  <form method="POST" enctype="multipart/form-data" class="form-container">
    {% csrf_token %}

    <section class="form-section">
      <h2>Dados Pessoais</h2>
      {{ funcionario_form.as_p }}
    </section>

    <section class="form-section">
      <h2>Endereço</h2>
      {{ endereco_form.as_p }}
    </section>

    <section class="form-section">
      <h2>Documentos</h2>
      {{ documentos_form.as_p }}
    </section>

    <section class="form-section">
      <h2>Dados Trabalhistas</h2>
      {{ dados_trabalhistas_form.as_p }}
    </section>


    <div class="form-actions">
      {% if funcionario_form.instance.pk %}
    <a href="{% url 'funcionarios:gerar_excel_funcionario' funcionario_form.instance.pk %}" class="btn btn-success">
      Gerar Excel
    </a>
    {% endif %}

      <button type="submit" class="btn-primary">Salvar</button>
    </div>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const cepInput = document.getElementById('id_cep');

    if (cepInput) {
      cepInput.addEventListener('blur', function () {
        const cep = cepInput.value.replace(/\D/g, '');

        if (cep.length === 8) {
          fetch('/funcionarios/buscar-endereco/?cep=' + cep)
            .then(response => response.json())
            .then(data => {
              if (!data.error) {
                document.getElementById('id_endereco').value = data.endereco || '';
                document.getElementById('id_bairro').value = data.bairro || '';
                document.getElementById('id_cidade').value = data.cidade || '';
                document.getElementById('id_uf').value = data.uf || '';
              } else {
                alert('CEP não encontrado!');
              }
            })
            .catch(error => {
              console.error('Erro:', error);
              alert('Erro ao buscar o endereço.');
            });
        }
      });
    }
  });
</script>

{% endblock %}
